<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> HSR Hand Book </title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: white;
        }
        h1 {
            color: #333;
        }
    </style>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <header class="header">
        <div class="container"> 
            <div class="logo"> 
                <a href="../index.html">
                    <img src="../img/logo.png" alt="Logo"> 
                </a>
            </div> 
            <nav class="nav">
                <a href="../components/character.html"> Nhân Vật </a>
                <a href="weapon.html"> Nón Ánh Sáng </a>
            </nav>
        </div>
    </header>
    <div class="content"> 
        <h1> Tiêu Điểm Nhân Vật </h1>
        <a href="character/feixiao.html">
            <div class="flex-box">
              <div class="box">
                <img src="../img/feixiao.webp">
                <div>
                  <h1>Feixiao</h1>
                  <p>"Tướng Quân Thiên Kích là tên được viết trên sách, Tướng Quân Đại Thắng là tên mà mọi người gọi. Tên trước quá nghiêm túc, tên sau quá khoa trương, đều không thích hợp. Tôi vẫn thích cái tên Tướng Quân Tam Vô do tôi đặt hơn - Vô lo, vô hối, vô địch."</p>
                </div>
              </div>
            </div>
        </a>
        <a href="character/robin.html">
            <div class="flex-box"> 
                <div class="box">
                    <img src="../img/robin.jpg">
                    <div>
                        <h1> Robin</h1>
                        <p> "Người ta thường nói, khẩu vị thực khách càng cầu kỳ thì tay nghề của người đầu bếp càng tinh tế. Nhưng dù người khác có nói gì thì tôi vẫn luôn đòi hỏi nhiều hơn ở bản thân mình."
                        </p>
                    </div>
                </div>
            </div>
        </a> 
        <a href="character/yunli.html">
            <div class="flex-box"> 
                <div class="box">
                    <img src="../img/yunli.jpg">
                    <div>
                        <h1> Yunli</h1>
                        <p> "Kiếm cũng có tính khí nóng nảy, đôi khi cảm thấy nó không dễ sử dụng thì phải vuốt ve an ủi nó, cảm nhận cảm giác khi cầm chuôi kiếm, nó sẽ nói cho bạn biết nó đang khó chịu chỗ nào!"
                        </p>
                    </div>
                </div>
            </div>
        </a>
    </div>

</body>
</html>
