<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> HSR Hand Book </title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f4f4f4;
        }
        h1 {
            color: #333;
        }
    </style>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <header class="header">
        <div class="container"> 
            <div class="logo"> 
                <a href="../index.html">
                    <img src="/img/logo.png" alt="Logo"> 
                </a>
            </div> 
            <nav class="nav">
                <a href="character.html"> Nhân Vật </a>
                <a href="../components/weapon.html"> Nón Ánh Sáng </a>
            </nav>
        </div>
    </header>
    <div class="content"> 
        <h1> Danh Sách Nón Ánh Sáng </h1>
        <a href="weapon/dance.html">
            <div class="flex-box">
              <div class="box">
                <img src="../img/LC_danceatsunset.webp">
                <div>
                  <h1>Điệu Múa Dưới Hoàng Hôn</h1>
                </div>
              </div>
            </div>
        </a>
        <a href="weapon/past.html">
            <div class="flex-box"> 
                <div class="box">
                    <img src="../img/LC_pastselfinthemirror.webp">
                    <div>
                        <h1> Tôi Ở Trong Gương Ngày Ấy</h1>
                    </div>
                </div>
            </div>
        </a> 
        <a href="weapon/sacdem.html">
            <div class="flex-box"> 
                <div class="box">
                    <img src="../img/LC_sacdemrucsang.webp">
                    <div>
                        <h1> Sắc Đêm Rực Sáng</h1>
                    </div>
                </div>
            </div>
        </a>
        <a href="weapon/tuantra.html">
            <div class="flex-box"> 
                <div class="box">
                    <img src="../img/Light_Cone_I_Venture_Forth_to_Hunt.webp">
                    <div>
                        <h1> Ta Sẽ, Tuần Tra Săn Bắn</h1>
                    </div>
                </div>
            </div>
        </a>
        <a href="weapon/biensao.html">
            <div class="flex-box"> 
                <div class="box">
                    <img src="../img/Light_Cone_Cruising_in_the_Stellar_Sea_Icon.webp">
                    <div>
                        <h1> Du Hành Trên Biển Sao</h1>
                    </div>
                </div>
            </div>
        </a>
        <a href="weapon/pure.html">
            <div class="flex-box"> 
                <div class="box">
                    <img src="../img/Light_Cone_Baptism_of_Pure_Thought_Icon.webp">
                    <div>
                        <h1> Lễ Rửa Tội Thuần Khiết</h1>
                    </div>
                </div>
            </div>
        </a>
        <a href="weapon/worrisome.html">
            <div class="flex-box"> 
                <div class="box">
                    <img src="../img/Light_Cone_Worrisome_Blissful.webp">
                    <div>
                        <h1>Phiền Não, Hạnh Phúc</h1>
                    </div>
                </div>
            </div>
        </a>
    </div>
</body>
</html>
