<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> HSR Hand Book </title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f4f4f4;
        }
        h1 {
            color: #333;
        }
    </style>
    <link rel="stylesheet" href="fei.css">
</head>
<body>
    <header class="header">
        <div class="container"> 
            <div class="logo"> 
                <a href="../../index.html">
                    <img src="../../img/logo.png" alt="Logo"> 
                </a>
            </div> 
            <nav class="nav">
                <a href="../character.html"> Nhân Vật </a>
                <a href="../weapon.html"> Nón Ánh Sáng </a>
            </nav>
        </div>
    </header>
    <div class="content"> 
        <img class="thumb" src="../../img/feixiao_2.avif">
        <div class="box1">
            <table class="info-table">
                <tr>
                    <th colspan="2" class="title">Tổng Quan</th>
                </tr>
                <tr>
                    <td>Tên</td>
                    <td>Feixiao ( tên thật Saran )</td>
                </tr>
                <tr>
                    <td>Phe Phái</td>
                    <td>Xianzhou Yaoqing</td>
                </tr>
                <tr>
                    <td>Vận mệnh</td>
                    <td>Săn bắn</td>
                </tr>
                <tr>
                    <td>Thuộc Tính</td>
                    <td>Phong</td>
                </tr>
                <tr>
                    <td>Mô Tả</td>
                    <td>
                        Tướng Quân Thiên Kích của Xianzhou Yaoqing, một trong Đế Cung Thất Thiên Tướng, là người không câu nệ, thẳng thắn hào sảng.
                        Tinh thông vô số võ nghệ, luyện hóa cơ thể đến cực độ, được mệnh danh là Tướng Quân Đại Thắng, và được quân dân Xianzhou yêu mến.
                        Nhưng mắc chứng “Đêm Trăng Cuồng”, nếu muốn tiêu diệt Tà Vật trong thời gian quy định, thì kẻ địch duy nhất của Feixiao chính là bản thân.
                    </td>
                </tr>
            </table>     
        </div>
        <div class="box1">
            <h2 class="box-title">Nón Ánh Sáng</h2>
            <ul class="light-cone-list">
                <li>
                    <img src="../../img/Light_Cone_I_Venture_Forth_to_Hunt.webp" alt="Ta Sẽ, Tuần Tra Săn Bắn" class="light-cone-img">
                    <span>Ta Sẽ, Tuần Tra Săn Bắn</span>
                </li>
                <li>
                    <img src="../../img/Light_Cone_Worrisome_Blissful.webp" alt="Phiền Não, Hạnh Phúc" class="light-cone-img">
                    <span>Phiền Não, Hạnh Phúc</span>
                </li>
                <li>
                    <img src="../../img/Light_Cone_Baptism_of_Pure_Thought_Icon.webp" alt="Lễ Rửa Tội Thuần Khiết" class="light-cone-img">
                    <span>Lễ Rửa Tội Thuần Khiết</span>
                </li>
                <li>
                    <img src="../../img/Light_Cone_Cruising_in_the_Stellar_Sea_Icon.webp" alt="Du Hành Trên Biển Sao" class="light-cone-img">
                    <span>Du Hành Trên Biển Sao</span>
                </li>
                <li>
                    <img src="../../img/Light_Cone_Swordplay_Icon.webp" alt="Luận Kiếm" class="light-cone-img">
                    <span>Luận Kiếm</span>
                </li>
                <li>
                    <img src="../../img/Light_Cone_Final_Victor_Icon.webp" alt="Người Chiến Thắng Cuối Cùng"class="light-cone-img">
                    <span>Người Chiến Thắng Cuối Cùng</span>
                </li>
            </ul>
        </div>            
        <div class="box1">
            <h2 class="box-title">Di Vật Và Phụ Kiện</h2>
            <ul class="light-cone-list">
                <li>
                    <img src="../../img/item_wind_soaring.webp" alt="Ta Sẽ, Tuần Tra Săn Bắn" class="light-cone-img">
                    <span>Dũng Khí Ngút Trời</span>
                </li>
                <li>
                    <img src="../../img/item_duran.webp" alt="Phiền Não, Hạnh Phúc" class="light-cone-img">
                    <span>Duran - Vương Triều Sói Hoang</span>
                </li>
            </ul>
        </div>  
        <div class="box1">
            <h2 class="box-title"> Stats Check</h2>
            <ul class="light-cone-list">
                <li> 
                    <div class="stats-container"> 
                        <div class="stats-main">
                            <span class="stats-title">Chỉ Số Chính:</span>
                            <span>Thân: Tỷ Lệ Bạo Kích / ST Bạo Kích</span>
                            <span>Chân: Tốc Độ</span>
                            <span>Quả Cầu Vị Điện: Tăng ST Phong / Tấn Công</span>
                            <span>Dây Liên Kết: Tấn Công%</span>
                        </div>
                        <div class="stats-main">
                            <span class="stats-title">Chỉ Số Phụ:</span>
                            <span>Tỷ Lệ Bạo Kích / ST Bạo Kích / Tốc Độ / Tấn Công%</span>
                        </div>
                    </div>
                </li>
                <li> 
                    <div class="stats-main">
                        <span class="stats-title">Chỉ Số Tốt Nghiệp:</span>
                        <span>Tỷ Lệ Bạo Kích: 90 - 100%</span>
                        <span >ST Bạo Kích: 140% hoặc hơn</span>
                        <span >Tốc Độ: 134 / 143 / 160+</span>
                        <span >Tấn Công: 2900 hoặc hơn</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    
        
</body>
</html>



