<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> HSR Hand Book </title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f4f4f4;
        }
        h1 {
            color: #333;
        }
    </style>
    <link rel="stylesheet" href="robin.css">
</head>
<body>
    <header class="header">
        <div class="container"> 
            <div class="logo"> 
                <a href="../../index.html">
                    <img src="/img/logo.png" alt="Logo"> 
                </a>
            </div> 
            <nav class="nav">
                <a href="../character.html"> Nhân Vật </a>
                <a href="../weapon.html"> Nón Ánh Sáng </a>
            </nav>
        </div>
    </header>
    <div class="content"> 
        <img class="thumb" src="../../img/robin_2.jpg">
        <div class="box1">
            <table class="info-table">
                <tr>
                    <th colspan="2" class="title">Tổng Quan</th>
                </tr>
                <tr>
                    <td>Tên</td>
                    <td>Robin</td>
                </tr>
                <tr>
                    <td>Phe Phái</td>
                    <td>Penacony</td>
                </tr>
                <tr>
                    <td>Vận mệnh</td>
                    <td>Hoà Hợp</td>
                </tr>
                <tr>
                    <td>Thuộc Tính</td>
                    <td>Vật Lí</td>
                </tr>
                <tr>
                    <td>Mô Tả</td>
                    <td>
                        Một ca sĩ Tộc Halovian nổi tiếng khắp ngân hà, sinh ra ở Penacony, là một cô gái điềm tĩnh và thanh lịch. Lần này được Gia Tộc mời trở về quê nhà để hát tặng khách trong Đại Nhạc Hội Hòa Hợp. Có thể dựa vào sức mạnh Hòa Hợp để truyền tải giọng hát, thể hiện "sự cộng hưởng" không chỉ với người hâm mộ mà còn với sinh linh vạn giới.[1]
                    </td>
                </tr>
            </table>     
        </div>
        <div class="box1">
            <h2 class="box-title">Nón Ánh Sáng</h2>
            <ul class="light-cone-list">
                <li>
                    <img src="../../img/LC_sacdemrucsang.webp" alt="Sắc Đêm Rực Sáng" class="light-cone-img">
                    <span>Sắc Đêm Rực Sáng</span>
                </li>
                <li>
                    <img src="../../img/LC_for_weekend.webp" alt="Vì Hành Trình Ngày Mai
                    " class="light-cone-img">
                    <span>Vì Hành Trình Ngày Mai
                    </span>
                </li>
                <li>
                    <img src="../../img/LC_bron.webp" alt="Cuộc Chiến Chưa Nguôi" class="light-cone-img">
                    <span>Cuộc Chiến Chưa Nguôi</span>
                </li>
                <li>
                    <img src="../../img/LC_pastselfinthemirror.webp" alt="
                    Tôi Trong Gương Ngày Ấy" class="light-cone-img">
                    <span>Tôi Trong Gương Ngày Ấy</span>
                </li>
                <li>
                    <img src="../../img/LC_blossom.webp" alt="Tuổi Hoa Chờ Nở Rộ" class="light-cone-img">
                    <span>Tuổi Hoa Chờ Nở Rộ</span>
                </li>
                <li>
                    <img src="../../img/LC_luanhoi.webp" alt="Luân Hồi"class="light-cone-img">
                    <span>Luân Hồi</span>
                </li>
            </ul>
        </div>            
        <div class="box1">
            <h2 class="box-title">Di Vật Và Phụ Kiện</h2>
            <ul class="light-cone-list">
                <li>
                    <img src="../../img/item_thienxa.webp" alt="Ta Sẽ, Tuần Tra Săn Bắn" class="light-cone-img">
                    <span>Thiện xạ bông lúa 2 món</span>
                </li>
                <li>
                    <img src="../../img/item_tunhan.webp" alt="Phiền Não, Hạnh Phúc" class="light-cone-img">
                    <span>Tù Nhân Ngục Tối</span>
                </li>
                <li>
                    <img src="../../img/item_vonwacq.webp" alt="Phiền Não, Hạnh Phúc" class="light-cone-img">
                    <span> Vonwacq Hoạt Bát</span>
                </li>v
            </ul>
        </div>  
        <div class="box1">
            <h2 class="box-title"> Stats Check</h2>
            <ul class="light-cone-list">
                <li> 
                    <div class="stats-container"> 
                        <div class="stats-main">
                            <span class="stats-title">Chỉ Số Chính:</span>
                            <span>Thân: Tấn Công%</span>
                            <span>Chân: Tấn Công% / Tốc Độ</span>
                            <span>Quả Cầu Vị Điện: Tấn Công%</span>
                            <span>Dây Liên Kết: Hiệu Suất Hồi Năng Lượng</span>
                        </div>
                        <div class="stats-main">
                            <span class="stats-title">Chỉ Số Phụ:</span>
                            <span>Tấn Công% / Tấn Công / HP% / Tốc Độ</span>
                        </div>
                    </div>
                </li>
                <li> 
                    <div class="stats-main">
                        <span class="stats-title">Chỉ Số Tốt Nghiệp:</span>
                        <span >Tốc Độ: 120</span>
                        <span >Tấn Công: 4500 hoặc hơn</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    
        
</body>
</html>



