/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    position: sticky;
    top: 0;
    background-color: white;
    opacity: 0.9;
    backdrop-filter: blur(10px);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    z-index: 50;
    padding: 5px 40px;
}

.nav {
    display: flex;

}

.nav a {
    margin: 0 20px; /* Khoảng cách giữa các liên kết */
    text-decoration: none;
    font-size: 16px;
    color: #333; /* Màu văn bản */
}

.nav a:hover {
    color: #007BFF; /* Màu khi hover */
}


.logo img {
    height: 80px; 
    width: auto;
}



body {
    background-image: url("../../img/robintheme.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    background-color: gray;
}

.content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.box1 {
    height: auto;
    width: 800px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    text-align: start;
    margin-top: 20px;
}

.thumb {
    width: 800px; 
    height: auto;
    max-width: 100%;
    object-fit: contain; 
    border-radius: 5px; 
    border: 3px solid; 
}

.highlight {
    font-size: 25px;
    font-weight: 500;
}

.info-table {
    width: 100%;
    border-collapse: collapse;
}

.info-table th {
    background: #00B4D8;
    color: white;
    font-size: 1.2rem;
    padding: 10px;
    text-align: left;
    border-radius: 10px;
}

.info-table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.info-table td:first-child {
    font-weight: bold;
    width: 25%;
}

.info-table td:last-child {
    width: 75%;
    text-align: left;
}

.info-table tr:last-child td {
    border-bottom: none;
}

.box-title {
    background: #00B4D8; 
    color: white;
    font-size: 1.2rem;
    padding: 12px;
    text-align: left;
    font-weight: bold;
    border-radius: 10px;
}

.light-cone-list {
    list-style: none;
    padding: 0;
}

.light-cone-list li {
    display: flex;
    align-items: center;
    background-color: #191c24;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 8px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 5px;
}

.light-cone-img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    margin-right: 12px;
}

.stats-main {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 1rem;
    font-weight: bold;
    margin-top:10px;
    flex-direction: column;
}

.stats-title {
    color: #ffcc00; /* Màu vàng */
    font-weight: bold;
}

.stats-container {
    display: flex;
    flex-direction: column; 
}