<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> HSR Hand Book </title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f4f4f4;
        }
        h1 {
            color: #333;
        }
    </style>
    <link rel="stylesheet" href="fei.css">
</head>
<body>
    <header class="header">
        <div class="container"> 
            <div class="logo"> 
                <a href="../../index.html">
                    <img src="/img/logo.png" alt="Logo"> 
                </a>
            </div> 
            <nav class="nav">
                <a href="../character.html"> Nhân Vật </a>
                <a href="../weapon.html"> Nón Ánh Sáng </a>
            </nav>
        </div>
    </header>
        <div class="content"> 
            <img class="thumb" src="../../img/yunli_2.jpg">
            <div class="box1">
                <table class="info-table">
                    <tr>
                        <th colspan="2" class="title">Tổng Quan</th>
                    </tr>
                    <tr>
                        <td>Tên</td>
                        <td>  Yunli </td>
                    </tr>
                    <tr>
                        <td>Phe Phái</td>
                        <td> ? </td>
                    </tr>
                    <tr>
                        <td>Vận mệnh</td>
                        <td>Huỷ Diệt </td>
                    </tr>
                    <tr>
                        <td>Thuộc Tính</td>
                        <td>Vật Lí</td>
                    </tr>
                    <tr>
                        <td>Mô Tả</td>
                        <td>
                            Thợ săn kiếm của Xianzhou Zhuming, cháu gái yêu quý của Tướng Quân Vực Nến Huaiyan, tính tình thẳng thắn.
                            Từ nhỏ đã theo Huaiyan học kiếm thuật và rèn luyện, là kiếm sĩ thiên tài trẻ tuổi nhất của Vòng Lửa Tám Lá.
                            Cực kỳ căm ghét kiếm ma có nguồn gốc từ Zhuming, thề rằng sẽ “tìm và chặt đứt tất cả những thanh kiếm ma”.
                        </td>
                    </tr>
                </table>     
            </div>
            <div class="box1">
                <h2 class="box-title">Nón Ánh Sáng</h2>
                <ul class="light-cone-list">
                    <li>
                        <img src="../../img/LC_danceatsunset.webp" alt="Điệu Múa Dưới Hoàng Hôn" class="light-cone-img">
                        <span>Điệu Múa Dưới Hoàng Hôn</span>
                    </li>
                    <li>
                        <img src="../../img/LC_bladudu.webp" alt="Bến Bờ Xa Diệu Vợi" class="light-cone-img">
                        <span>Bến Bờ Xa Diệu Vợi</span>
                    </li>
                    <li>
                        <img src="../../img/LC_clara.webp" alt="Vật Không Thể Thay Thế" class="light-cone-img">
                        <span>Vật Không Thể Thay Thế</span>
                    </li>
                    <li>
                        <img src="../../img/LC_thefallofanaeon.webp" alt="Sự Sụp Đổ Của Aeon" class="light-cone-img">
                        <span>Sự Sụp Đổ Của Aeon</span>
                    </li>
                    <li>
                        <img src="../../img/LC_underthebluesky.webp" alt="Dưới Bầu Trời Xanh" class="light-cone-img">
                        <span>Dưới Bầu Trời Xanh</span>
                    </li>
                    <li>
                        <img src="../../img/LC_nowheretorun.webp" alt="Không Nơi Ẩn Náu"class="light-cone-img">
                        <span>Không Nơi Ẩn Náu</span>
                    </li>
                </ul>
            </div>            
            <div class="box1">
                <h2 class="box-title">Di Vật Và Phụ Kiện</h2>
                <ul class="light-cone-list">
                    <li>
                        <img src="../../img/item_wind_soaring.webp" alt="Ta Sẽ, Tuần Tra Săn Bắn" class="light-cone-img">
                        <span>Dũng Khí Ngút Trời</span>
                    </li>
                    <li>
                        <img src="../../img/item_duran.webp" alt="Phiền Não, Hạnh Phúc" class="light-cone-img">
                        <span>Duran - Vương Triều Sói Hoang</span>
                    </li>
                </ul>
            </div>  
            <div class="box1">
                <h2 class="box-title"> Stats Check</h2>
                <ul class="light-cone-list">
                    <li> 
                        <div class="stats-container"> 
                            <div class="stats-main">
                                <span class="stats-title">Chỉ Số Chính:</span>
                                <span>Thân: Tỷ Lệ Bạo Kích / ST Bạo Kích</span>
                                <span>Chân: Tấn Công%</span>
                                <span>Quả Cầu Vị Điện: Tăng ST Vật Lí</span>
                                <span>Dây Liên Kết: Tấn Công%</span>
                            </div>
                            <div class="stats-main">
                                <span class="stats-title">Chỉ Số Phụ:</span>
                                <span>Tỷ Lệ Bạo Kích / ST Bạo Kích /  Tấn Công% / Kháng Hiệu Ứng</span>
                            </div>
                        </div>
                    </li>
                    <li> 
                        <div class="stats-main">
                            <span class="stats-title">Chỉ Số Tốt Nghiệp:</span>
                            <span>Tỷ Lệ Bạo Kích: 90 - 100% trở lên</span>
                            <span >ST Bạo Kích: 170% hoặc hơn</span>
                            <span >Tấn Công: 3400 hoặc hơn</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
</body>
</html>



