<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> HSR Hand Book </title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f4f4f4;
        }
        h1 {
            color: #333;
        }
    </style>
    <link rel="stylesheet" href="global.css">
</head>
<body>
    <header class="header">
        <div class="container"> 
            <div class="logo"> 
                <a href="../../index.html">
                    <img src="/img/logo.png" alt="Logo"> 
                </a>
            </div> 
            <nav class="nav">
                <a href="../character.html"> Nhân Vật </a>
                <a href="../weapon.html"> Nón Ánh Sáng </a>
            </nav>
        </div>
    </header>
    <div class="container_2">
        <div class="effect-box">
            <h2>Tổng Quan Và Hiệu Ứng</h2>
            <p><span>Tăng mạnh xác suất người trang bị chịu tấn công:</span> Sát Thương Bạo Kích tăng 36/42/48/54/60%.</p>
            <p>Sau khi người trang bị thi triển Tuyệt Kỹ, sẽ nhận được 1 tầng <span>Hỏa Vũ</span>, duy trì 2 hiệp, tối đa cộng dồn 2 tầng.</p>
            <p>Mỗi tầng Hỏa Vũ khiến sát thương do Đòn Đánh Theo Sau của người trang bị gây ra tăng <span>36/42/48/54/60%</span>.</p>

        </div>
        <div class="effect-image">
            <img src="../../img/weapon_dieumua.webp" >
        </div>
    </div>
    
</body>
</html>
