<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> HSR Hand Book </title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f4f4f4;
        }
        h1 {
            color: #333;
        }
    </style>
    <link rel="stylesheet" href="global.css">
</head>
<body>
    <header class="header">
        <div class="container"> 
            <div class="logo"> 
                <a href="../../index.html">
                    <img src="/img/logo.png" alt="Logo"> 
                </a>
            </div> 
            <nav class="nav">
                <a href="../character.html"> Nhân Vật </a>
                <a href="../weapon.html"> Nón Ánh Sáng </a>
            </nav>
        </div>
    </header>
    <div class="container_2">
        <div class="effect-box">
            <h2>Tổng Quan Và Hiệu Ứng</h2>
            <p><span>Hương Mai Nồng Nàn:</span> Khiến Tấn Công Kích Phá của người trang bị tăng <span>60/70/80/90/100%</span>.</p>
            <p>Sau khi người trang bị thi triển Tuyệt Kỹ, sẽ khiến sát thương của toàn bộ phe ta tăng <span>24/28/32/36/40%</span>, duy trì 3 hiệp.</p>
            <p>Hơn nữa, nếu Tấn Công Kích Phá của người trang bị lớn hơn hoặc bằng <span>150%</span>, sẽ hồi 1 điểm Chiến Kỹ.</p>
            <p>Khi bắt đầu mỗi đợt, toàn bộ phe ta sẽ hồi ngay <span>10/13/15/18/20</span> Năng Lượng, kỹ năng cùng loại sẽ không thể cộng dồn.</p>

        </div>
        <div class="effect-image">
            <img src="../../img/weapon_past.webp" >
        </div>
    </div>
    
</body>
</html>
