<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> HSR Hand Book </title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f4f4f4;
        }
        h1 {
            color: #333;
        }
    </style>
    <link rel="stylesheet" href="global.css">
</head>
<body>
    <header class="header">
        <div class="container"> 
            <div class="logo"> 
                <a href="../../index.html">
                    <img src="/img/logo.png" alt="Logo"> 
                </a>
            </div> 
            <nav class="nav">
                <a href="../character.html"> Nhân Vật </a>
                <a href="../weapon.html"> Nón Ánh Sáng </a>
            </nav>
        </div>
    </header>
    <div class="container_2">
        <div class="effect-box">
            <h2>Tổng Quan Và Hiệu Ứng</h2>
            <p><span>Huấn Luyện Tư Tưởng:</span> Tăng <span>20/23/26/29/32%</span> Sát Thương Bạo Kích của người trang bị.</p>
            <p>Mỗi khi kẻ địch phải chịu 1 Hiệu Ứng Xấu, sẽ tăng thêm <span>8/9/10/11/12%</span> Sát Thương Bạo Kích mà người trang bị gây lên kẻ này, tối đa cộng dồn 3 tầng.</p>
            <p>Khi thi triển Tuyệt Kỹ tấn công kẻ địch, khiến người trang bị nhận hiệu ứng <span>Biện Luận</span>, tăng <span>36/42/48/54/60%</span> sát thương gây ra.</p>
            <p>Đòn Đánh Theo Sau bỏ qua <span>24/28/32/36/40%</span> phòng thủ của mục tiêu, hiệu ứng này duy trì 2 hiệp.</p>


        </div>
        <div class="effect-image">
            <img src="../../img/weapon_ruatoi.webp" >
        </div>
    </div>
    
</body>
</html>
