<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> HSR Hand Book </title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f4f4f4;
        }
        h1 {
            color: #333;
        }
    </style>
    <link rel="stylesheet" href="global.css">
</head>
<body>
    <header class="header">
        <div class="container"> 
            <div class="logo"> 
                <a href="../../index.html">
                    <img src="/img/logo.png" alt="Logo"> 
                </a>
            </div> 
            <nav class="nav">
                <a href="../character.html"> Nhân Vật </a>
                <a href="../weapon.html"> Nón Ánh Sáng </a>
            </nav>
        </div>
    </header>
    <div class="container_2">
        <div class="effect-box">
            <h2>Tổng Quan Và Hiệu Ứng</h2>
            <p><span>Kinh Hoàng:</span> Tăng <span>15/17.5/20/22.5/25%</span> Tỷ Lệ Bạo Kích của người trang bị.</p>
            <p>Khi người trang bị thi triển Đòn Đánh Theo Sau sẽ nhận 1 tầng <span>Lưu Quang</span>, tối đa cộng dồn 2 tầng.</p>
            <p>Mỗi tầng Lưu Quang khiến sát thương Tuyệt Kỹ mà người trang bị gây ra bỏ qua <span>27/30/33/36/39%</span> phòng thủ của mục tiêu.</p>
            <p>Khi hiệp của người trang bị kết thúc sẽ xóa bỏ 1 tầng Lưu Quang.</p>
        </div>
        <div class="effect-image">
            <img src="../../img/weapon_sanban.webp" >
        </div>
    </div>
    
</body>
</html>
